@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

$font-family: 'Roboto', sans-serif;

$colors: (
  grey: #818080,
  grey_dark: #2D2C2C,
  grey_light: #434343,
  orange: #FBA43E,
  white: #FFF
);

@function color($color-item) {
  @return map-get($colors, $color-item)
};

@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
};

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fixed {
  position: fixed;
  left: 0;
  top: 0;
}

@mixin backgroundImage($url) {
  background: center center url($url) no-repeat;
  background-size: contain;
}
